.join__body {
  background-color: rgb(19, 26, 29);
  height: 100vh;
  color: white;
}
.join-h4{
    font-weight: 400;
    font-size: calc(var(--index)*1.1);
}
label{
display: block;

}
input {
    background-color: #f7f7f7;
    border: none;
    border-radius: 0.5rem;
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    position: relative;
    width: 20%;
}
input::placeholder {
    font-size: 0.9rem;
    padding-left: 1rem;
}
input:hover{
    background-color: #403c64;
}
.button_submit{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: calc(var(--index)*0.9) calc(var(--index)*3.5);
    background-color: #3639ff;
    border-radius: 0.5rem;
}