.footer__body {
  position: relative;
}
.footer__container {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 630vh;
  padding: 1rem 0;
  z-index: -1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: calc(var(--index) * 0.55);
}

.footer_terms {
  margin-right: 2rem;
  text-decoration: none;
  color: white;
}
.footer_policy {
  text-decoration: none;
  color: white;
}
